html {
  font-size: 16px;
}

body {
  margin: 0;
  color: #080808;
  font-size: 1rem;
  line-height: 1.4rem;
  font-family: -apple-system,
  BlinkMacSystemFont,
  Roboto,
  "Helvetica Neue",
  HelveticaNeue,
  "UD Digi Kyokasho NK-R",
  YuGothic,
  "Yu Gothic Medium",
  Meiryo,
  sans-serif;
}

b, strong, .bold {
  font-family: -apple-system,
  BlinkMacSystemFont,
  Roboto,
  "Helvetica Neue",
  HelveticaNeue,
  "UD Digi Kyokasho NP-B",
  YuGothic,
  "Yu Gothic",
  Meiryo,
  sans-serif;
}

main {
  padding: 0.5rem;
}

h1 {
  font-size: 22px;
  line-height: 1.2rem;
  border-bottom: solid 2px #91B493;
}

h2 {
  font-size: 20px;
  line-height: 1.2rem;
  padding: .1rem .5rem;
  border-left: solid .75rem #91B493;
  border-bottom: solid 2px #91B493;
}

h3 {
  font-size: 18px;
  line-height: 1.2rem;
  border-bottom: dotted 2px #B5CAA0;
}

footer {
  padding : 0.5rem;
  font-size: 1.25rem;
  color: #fff;
  background-color: #86C166;
}

footer a {
  color: #fff;
  text-decoration:none;
}

footer a:hover {
  color: #fff;
  text-decoration:underline;
}

summary {
  cursor: pointer;
}

summary:hover {
  cursor: pointer;
  background-color: #EFEFEF;
}

ul {
  list-style-type: disc;
  padding: 0 0 0 1rem;
  margin-top: 0;
  margin-bottom: 0;
}

ul.nonedot {
  list-style-type: none;
  padding-left: 0;
}

li.narrow {
  margin: .5rem;
  line-height: 1.2rem;
  word-wrap: break-word;
}

blockquote {
  margin: 0;
}

blockquote p {
  font-size: 1.125rem;
  padding: 1rem;
  background: #EFEFEF;
  border-radius: .5rem;
}

figure.quote {
  border-top: solid 1px #B5CAA0;
}