html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
}

main {
  margin: 0;
  padding: 0.5rem;
  color: #080808;
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: -apple-system,
  BlinkMacSystemFont,
  Roboto,
  "Helvetica Neue",
  HelveticaNeue,
  "UD Digi Kyokasho NK-R",
  YuGothic,
  "Yu Gothic Medium",
  Meiryo,
  sans-serif;
}

b, strong, .bold {
  font-family: -apple-system,
  BlinkMacSystemFont,
  Roboto,
  "Helvetica Neue",
  HelveticaNeue,
  "UD Digi Kyokasho NP-B",
  YuGothic,
  "Yu Gothic",
  Meiryo,
  sans-serif;
}

h1 {
  font-size: 1.375rem;
  line-height: 1.2rem;
  border-bottom: solid 2px #91B493;
}

h2 {
  font-size: 1.25rem;
  line-height: 1.2rem;
  padding: .1rem .5rem;
  border-left: solid .75rem #91B493;
  border-bottom: solid 2px #91B493;
}

h3 {
  font-size: 1.125rem;
  line-height: 1.2rem;
  border-bottom: dotted 2px #B5CAA0;
}

summary {
  cursor: pointer;
}

summary:hover {
  cursor: pointer;
  background-color: #EFEFEF;
}

ul {
  list-style-type: disc;
  padding: 0 0 0 1rem;
  margin-top: 0;
  margin-bottom: 0;
}

ul.nonedot {
  list-style-type: none;
  padding-left: 0;
}

li.narrow {
  margin: .5rem;
  line-height: 1.2rem;
  word-wrap: break-word;
}

blockquote {
  margin: 0;
}

blockquote p {
  font-size: 1.125rem;
  padding: 1rem;
  background: #EFEFEF;
  border-radius: .5rem;
}

figure.quote {
  border-top: solid 1px #B5CAA0;
}

sup {
  line-height: 1rem;
  font-size: smaller;
}

a.ref {
  color: #0645ad;
  text-decoration:none;
}

a.ref:hover {
  color: #0645ad;
  text-decoration:underline;
}

footer {
  background: #86C166;
  overflow: hidden;
}

footer ul {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  grid-template-columns: repeat(6, 1fr);
  border-radius: .5rem;
  background: #fff;
  overflow: hidden;
}

footer ul li {
  padding-left: 1.125rem;
  display: list-item;
  font-size: 1.125rem;
  line-height: 2.25rem;
  border-bottom: 1px solid #91B493;
}

footer ul li:hover {
  cursor: pointer;
  background-color: #EFEFEF;
}

footer ul a {
  color: #080808;
  text-decoration: none;
}